{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<section class="page  page--partners">

    <div class="hero  hero--partners" id="partner-signup">

        <div class="hero-partners-content">

            <div class="hero-partners-header">
                <a href="/" class="hero-partners-logo">
                    <img src="https://basekit-product.s3-eu-west-1.amazonaws.com/Logos/Go-BK-logo1.svg" alt="Etisalat Reset Password">
                </a>
            </div>

            <!-- Hero Item: Form -->
            <div class="hero-item--module">
                
                <div class="container-form">
                    <div class="partner-form">
                        <div class="parnter-form-container">

                            <div class="hero-partners-description">
                                {{widget('content', 'forgottenpasswordtext-login', { content: '
                                    <h3>Forgot your password?</h3>
                                    <p>To reset your password, enter your email below:</p>
                                '})|raw}}
                            </div>


                            <div class="main-form">
                                {{zone('main')|raw}}
                                
                                <footer class="footer-text  footer-text--fp">
                                    {{widget('content', 'forgot-text', { content: '
                                        <p class="form-link">Remembered your password? <a href="https://www.google.com" class="signup-btn">Login here</a>.</p>
                                    '})|raw}}
                                </footer>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

